<!DOCTYPE html>
<html>
<head>
    <title>IMANBERDI</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                {{#if user}}
                    <li><a href="/">Главная страница</a></li>
                    <li><a href="/profile">Личный кабинет - {{user.username}}</a></li>
                    <li><a href="/search_ticket">Поиск билетов</a></li>
                    <li role="presentation"><a href="/users/logout">Выйти</a></li>
                {{else}}
                    <li role="presentation"><a href="/users/login">Войти</a></li>
                    <li role="presentation"><a href="/users/register">Регистрация</a></li>
                {{/if}}
            </ul>
        </nav>
    </div>


    <div class="row">
        <div class="col-lg-12">
            {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
            {{/if}}

            {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
            {{/if}}

            {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
            {{/if}}

            {{{body}}}
        </div>


    </div>

    <footer class="footer">
    </footer>

</div> <!-- /container -->
</body>
</html>