<!DOCTYPE html>
<html>
<head>
</head>
<body>
    {{#if errors}}
        <h1>{{this}}</h1>
    {{/if}}
    {{#if data_races}}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Номер билета</th>
                    <th scope="col">Авиакомпания</th>
                    <th scope="col">Стоимость</th>
                    <th scope="col">Вылет</th>
                    <th scope="col">Посадка</th>
                    <th scope="col">Время в пути</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {{#each data_races}}
                <form method="post" action="/buyticket">
                    <tr>
                        <input name="ticket_number" value="{{this._id}}" type="hidden"/>
                    </tr>
                    <tr>
                            <td>{{this._id}}</td>
                            <td>{{this.airline}}</td>
                            <td>{{this.cost}}</td>
                            <td>{{this.departure_time}}</td>
                            <td>{{this.boarding_time}}</td>
                            <td>{{this.travel_time}}</td>

                            <td><button type="submit" class="btn btn-success btn-primary btn-block">Купить</button></td>
                    </tr>
                </form>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <h3>Нет подходящих рейсов</h3>
    {{/if}}
</body>
</html>