<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script>
        $(document).ready(function(){
            $(".btn1").click(function(){
                $("p").hide();
            });
            $(".btn2").click(function(){
                $("p").show();
            });
        });
    </script>
</head>
<body>
<header>
    {{#if user.surname}}
        <h1>Добро пожаловать, {{ user.surname }}</h1>
    {{/if}}
</header>

<header>

</header>

    <img src="{{ user.thumbnail }}" />
    <p>This is your profile thumbnail</p>

    <table>
        <form method="post" action="/users/updateUser">
            <input name="_id" value="{{ user._id }}" type="hidden"/>

            <tr>
                <td><input class="form-control" name="name" value="{{ user.name }}" id="user_name" type="hidden"/></td>
                <td><input class="form-control" name="surname" value="{{ user.surname }}" id="user_surname" type="hidden"/></td>
            </tr>

            <tr>
                <td><button type="button" class="btn btn-success btn-primary btn-block btn1" onclick="user_name.setAttribute('type', 'text'); user_surname.setAttribute('type', 'text'); saveBut.removeAttribute('style')">Редактировать личные данные</button></td>
                <td><button type="submit" class="btn btn-success btn-primary btn-block " style="display:none;" id="saveBut">Сохранить</button></td>
            </tr>
        </form>
    </table>
    <br />
    {{#if tickets}}
        <h3>Ваши билеты</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Авиакомпния</th>
                <th scope="col">Направление</th>
                <th scope="col">Дата</th>
                <th scope="col">Время в пути</th>
                <th scope="col">Класс обслуживания</th>
            </tr>
            </thead>
            <tbody>
                {{#each tickets}}
                    <tr>
                        <td>{{this.airline}}</td><td>{{this.starting_point}}-{{this.end_point}}</td><td>{{this.flight_date}}</td><td>{{this.departure_time}}-{{this.boarding_time}}</td><td>{{this.class_of_service}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

</body>
</html>