<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Личный кабинет</title>
</head>
<body>
<header>
    {{#if user.surname}}
        <h1>Добро пожаловать, {{ user.surname }}</h1>
    {{/if}}
</header>

    <img src="{{ user.thumbnail }}" />
    <p>This is your profile thumbnail</p>

    <table>
        <form method="post" action="/users/updateUser">
            <input name="_id" value="{{ user._id }}" type="hidden"/>
            <tr>
                <td><input class="form-control" name="name" value="{{ user.name }}" id="user_name" type="hidden"/></td>
                <td><input class="form-control" name="surname" value="{{ user.surname }}" id="user_surname" type="hidden"/></td>
            </tr>

            <tr>
                <td><button type="submit" class="btn btn-success btn-primary btn-block" style="display:none;" id="saveBut">Сохранить</button></td>
                <td><button type="button" class="btn btn-success btn-primary btn-block" onclick="user_name.setAttribute('type', 'text'); user_surname.setAttribute('type', 'text'); saveBut.removeAttribute('style')">Редактировать</button></td>
            </tr>
        </form>
    </table>



<!--</main>-->
</body>
</html>