<!DOCTYPE html>
<html lang="en">
<head>
    <title>IMANBERDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://localhost:1003">Music Player</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://localhost:1003">Home</a></li>
            <li><a href="http://localhost:1003/users">Пользователи</a></li>
            <li><a href="http://localhost:1003/contents">Контенты</a></li>
            <li><a href="http://localhost:1003/playlists">Плейлисты</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <!--<h2>Striped Rows</h2>-->
    <!--<p>The .table-striped class adds zebra-stripes to a table:</p>-->
    <table class="w3-table w3-striped w3-border">
        <tbody>
        <tr class="w3-green">
            <th>ID</th>
            <th>Название</th>
            <th>Жанр</th>
            <th>Страна</th>
        </tr>
        {{#each contentObject}}
            <tr><td>{{this.id}}</td> <td>{{this.Title}}</td> <td>{{this.Genre}}</td> <td>{{this.Country}}</td></tr>
        {{/each}}
        </tbody>
    </table>
    <h1>{{mess}}</h1>
</div>


<script>
    function updateContent(id, Title, Genre, Country) {
        $.put = function(url, data, callback, type){
            if ( $.isFunction(data) ){
                type = type || callback,
                        callback = data,
                        data = {}
            }
            return $.ajax({
                url: url,
                type: 'PUT',
                success: callback,
                data: data,
                contentType: type
            });
        }
        $.put('http://localhost:1003/contents/' + id, {Title: Title, Genre: Genre, Country: Country }, function (result) {
            console.log(result);
        })
    }
    function deleteContent(id) {
        jQuery.each( [ "put", "delete" ], function( i, method ) {
            jQuery[ method ] = function( url, data, callback, type ) {
                if ( jQuery.isFunction( data ) ) {
                    type = type || callback;
                    callback = data;
                    data = undefined;
                }
                return jQuery.ajax({
                    url: url,
                    type: method,
                    dataType: type,
                    data: data,
                    success: callback
                });
            };
        });
        $.delete('http://localhost:1003/contents/' + id, function(result){
            console.log(result);
        })
    }
</script>

<div class="container">
    <form id='forma' class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <div class="w3-panel w3-green w3-round-xlarge">
            <h5>Изменить данные определенного контента</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id">ID контента</label>
                <input type="text" class="form-control" id="id" placeholder="id..." name="id" required pattern="[0-9]+$">
            </div>
            <div class="form-group col-md-4">
                <label for="Title">Название</label>
                <input type="text" class="form-control" id="Title" placeholder="Название..." name="Title">
            </div>
            <div class="form-group col-md-4">
                <label for="Genre">Жанр</label>
                <input type="text" class="form-control" id="Genre" placeholder="Жанр..." name="Genre">
            </div>
            <div class="form-group col-md-6">
                <label for="Country">Страна</label>
                <input type="text" class="form-control" id="Country" placeholder="Страна..." name="Country">
            </div>
            <div>
                <input type="submit" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" onclick='updateContent(document.forms["forma"].elements["id"].value, document.forms["forma"].elements["Title"].value, document.forms["forma"].elements["Genre"].value, document.forms["forma"].elements["Country"].value)' value="Изменить"/>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <form id='formaDel' class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <div class="w3-panel w3-red w3-round-xlarge">
            <h5>Удалить контент</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id">ID контента</label>
                <input type="text" class="form-control" id="id" placeholder="id..." name="id" required pattern="[ 0-9]+$">
            </div>
            <div class="form-group col-md-4">
                <input type="submit" class="w3-button w3-block w3-section w3-red w3-ripple w3-padding" onclick='deleteContent(document.forms["formaDel"].elements["id"].value)' value="Удалить контент"/>
            </div>
        </div>
    </form>
</div>


<div class="container">
    <form method="POST" action="/contents" id='formaDel' class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <!--<form method="POST" action="/users/new">-->
        <div class="w3-panel w3-green w3-round-xlarge">
            <h5>Создать контент</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Title">Название</label>
                <input type="text" class="form-control" id="Title" placeholder="Название..." name="Title">
            </div>
            <div class="form-group col-md-4">
                <label for="Genre">Жанр</label>
                <input type="text" class="form-control" id="Genre" placeholder="Жанр..." name="Genre">
            </div>
            <div class="form-group col-md-4">
                <label for="Country">Страна</label>
                <input type="text" class="form-control" id="Country" placeholder="Страна..." name="Country">
            </div>
            <!--<input type="submit" value="Создать пользователя">-->
        </div>
        <input type="submit" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" value="Создать контент"/>
    </form>
</div>



<div class="container">
    <form method="POST" action="/contents/playlists" id='formaDel' class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin">
        <!--<form method="POST" action="/users/new">-->
        <div class="w3-panel w3-green w3-round-xlarge">
            <h5>Создать контент с заранее известным плейлистом</h5>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Title">Название</label>
                <input type="text" class="form-control" id="Title" placeholder="Название..." name="Title">
            </div>
            <div class="form-group col-md-4">
                <label for="Genre">Жанр</label>
                <input type="text" class="form-control" id="Genre" placeholder="Жанр..." name="Genre">
            </div>
            <div class="form-group col-md-4">
                <label for="Country">Страна</label>
                <input type="text" class="form-control" id="Country" placeholder="Страна..." name="Country">
            </div>
            <div class="form-group col-md-4">
                <label for="pid">ID плейлиста этого контента</label>
                <input type="text" class="form-control" id="pid" placeholder="ID плейлиста..." name="pid">
            </div>
            <!--<input type="submit" value="Создать пользователя">-->
        </div>
        <input type="submit" class="w3-button w3-block w3-section w3-green w3-ripple w3-padding" value="Создать контент"/>
    </form>
</div>


</body>
</html>