<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>


<%if (locals.success){ %>
<b><%= success%></b>
<% } %>

<%if (locals.errors){ %>
    <% errors.forEach(function(error) { %>
        <div class="alert alert-danger"><%= error.msg%></div>
    <% }); %>
<% } %>
<%if (locals.booking_data){ %>
<table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        <form method="post" action="/buy">
            <tr>
                <input name="starting_point" value="<%= booking_data.starting_point%>" type="hidden"/>
                <input name="end_point" value="<%= booking_data.end_point%>" type="hidden"/>
                <input name="flight_date" value="<%= booking_data.flight_date%>" type="hidden"/>
                <input name="id_race" value="<%= booking_data.id_race%>" type="hidden"/>
                <input name="airline" value="<%= booking_data.airline%>" type="hidden"/>
                <input name="cost" value="<%= booking_data.cost%>" type="hidden"/>
                <input name="departure_time" value="<%= booking_data.departure_time%>" type="hidden"/>
                <input name="boarding_time" value="<%= booking_data.boarding_time%>" type="hidden"/>
                <input name="travel_time" value="<%= booking_data.travel_time%>" type="hidden"/>
                <input name="baggage" value="<%= booking_data.baggage%>" type="hidden"/>
                <input name="class_of_service" value="<%= booking_data.class_of_service%>" type="hidden"/>
                <input name="id_user" value="<%= booking_data.id_user%>" type="hidden"/>

                <h3>Оформление билета №<%= booking_data.id_race%> (<%= booking_data.starting_point%>-<%= booking_data.end_point%>)</h3>
            </tr>
            <tr>
                <td><b>Авиакомпания</b><br /><h5><%= booking_data.airline%></h5></td>
                <td><b>Стоимость</b><br /><%= booking_data.cost%></td>
                <td><b>Время вылета</b><br /><%= booking_data.departure_time%></td>
                <td><b>Время посадки</b><br /><%= booking_data.boarding_time%></td>
                <td><b>Время в пути</b><br /><%= booking_data.travel_time%></td>
                <td><b>Багаж</b><br /><%= booking_data.baggage%></td>
            </tr>
            <tr>
                <td><b>Имя пассажира</b><input class="form-control" type="text" name="clientName" value="<%= booking_data.name%>" required/></td>
                <td><b>Фамилия пассажира</b><input class="form-control" type="text" name="clientSurname" value="<%= booking_data.surname%>" required/></td>
                <td><b>Пол</b><select class="form-control" name="gender">
                        <option>Ж</option>
                        <option>М</option>
                    </select></td>
                <td><b>Дата рождения</b><input class="form-control" type="date" name="birth_date" max="2025-01-01" min="1900-01-01" required/></td>
                <td><b>Гражданство</b><select class="form-control" name="citizenship">
                        <option>Страна</option>
                        <option>Алжир</option>
                        <option>Албания</option>
                        <option>Белоруссия</option>
                        <option>Германия</option>
                        <option>Россия</option>
                        <option>Чехия</option>
                        <option>Эстония</option>
                    </select></td>
            </tr>
            <tr>
                <td><b>№ документа</b><input class="form-control" type="text" name="document_number" required/></td>
                <td><b>Срок действия документа</b><input class="form-control" type="date" name="validity" max="2025-01-01" min="2018-01-01" required/></td>
                <td><b>Номер телефона</b><input class="form-control" type="tel" name="phone_number" required/></td>
                <td><b>Электронная почта</b><input class="form-control" type="text" name="email" value="<%= booking_data.email%>" required/></td>
            </tr>
            <tr>
                <td><button type="submit" class="btn btn-success btn-primary btn-block">Купить</button></td>
            </tr>
        </form>
    </tbody>
</table>
<% } %>
</body>
</html>

